{
    "GITLAB_ROOT_PASSWORD": "apsdiashfoihwroqwrqwprjSAsadasd=",
    "GITLAB_SHARED_RUNNERS_REGISTRATION_TOKEN": "xAGwyn_5ysHqDL3mj_xY",
    "GITLAB_HOME": "/gitlab/",
    "GITLAB_HOST": "localhost",
    "GITLAB_SSH_PORT": "2222",
    "GITLAB_ACCESS_KEY": "",
    
    
    "AWS_ACCESS_KEY_ID": "",
    "AWS_SECRET_ACCESS_KEY": "",
    "AWS_REGION": "",


    "TF_VAR_aws_availability_zone": "",
    "TF_VAR_security_key": "k3s-cluster",
    "TF_VAR_admin_public_ipv4": "",

    "SSH_PEM_FILE": "../k3s-cluster.pem",

    "DOCKER_USERNAME": "",
    "DOCKER_ACCESS_TOKEN": ""
}
